<h1 class="title">Articl.es</h1>
<h2 class="subtitle">... what's "Articl" in Spanish anyway?</h2>

<p id="notice"><%= notice %></p>

<div id="menu">
    <ul class="menu">
        <li class="left" title="Return to previous page">
                  <%= link_to session[:last_article_page]  do %>
                    <%= image_tag('famfamfam_silk_icons_v013/icons/arrow_left.png') %>
                    list all articles
                <% end %>
            </li>
        <li title="Edit this article"><%= link_to edit_article_path(@article) do %>
            <%= image_tag('famfamfam_silk_icons_v013/icons/pencil.png',) %>
            edit
            <% end %></li>
        <li title="Delete this article"><%= link_to @article, confirm: 'Are you sure?', method: :delete do %>
            <%= image_tag('famfamfam_silk_icons_v013/icons/bin.png', :tooltip => "Delete this article") %>
            delete
            <% end %></li>
        <li class="right" title="E-mail the webmaster"><a href=mailto:webmaster@articl.es>
            <%= image_tag('famfamfam_silk_icons_v013/icons/email.png') %>
            email</a></li>
    </ul>
</div>

<p>
  <h1 class="titleline"><%= @article.title %></h1>
</p>
<p>
  <h2 class="authorline">by <%= @article.author %>.  <%= pluralize(@article.num_edits, "edit") %> since <%= @article.created_at.to_s :article_time %>.</h2>  
</p>

<p class="articlebody">
  <%= sanitize @article.body %>
</p>
